<!DOCTYPE html>
<html>
<head>
  <title>LaunchVotes</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/flash" %>

<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>

<%= yield %>

</body>
</html>
